<%= simple_form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.input :commenter, as: :string, label: "Commenter" %><br />
  </div>
  <div class="field">
    <%= f.input :body, as: :string, label: "Body" %><br />
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>