= simple_fields_for :tags, :defaults => { :class => "field"  } do |f|
  = f.input :name, as: :string, label: 'Tag: '
  - if f.object.try :persisted?
    = f.input :_destroy, as: :boolean, label: 'Remove: '
