= simple_fields_for :tags, :defaults => { :class => "field"  } do |f|
  = f.input :name, as: :string, label: 'Tag: '
  - unless f.object.nil? || f.object.new_record?
    = f.input :_destroy, as: :boolean, label: 'Remove: '
